@tailwind base;
@tailwind components;
@tailwind utilities;

.img-1{
    background-image:url(https://images.unsplash.com/photo-1588590560438-5e27fe3f6b71?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1128&q=80)
}
.name{
    color:transparent;
    -webkit-text-stroke: 1px #ffffff38;
    background-image: url(https://images.unsplash.com/photo-1559479971-4b08aade9274?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
  }
  @keyframes back{
    100%{
      background-position: 900px 0;
    }
  }
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .umer{
    padding: 20px 20 px;
    margin-right: 20px;
    display: block;
    color: red;
    border: 2px solid  #ffffff;
  }
 